<h1 class="text-white">Welcome to game Rock Paper and Scissor</h1>
<div class="justify-content-center margin row">
	<div class="flex05 column align-items-center justify-content-space-between">
		{{#power-select
			options=objects
			selected=name
			onclose=(action "cueck")
			placeholder="Select objt"
			onchange=(action 'select')
			as |name|
		}}
			<span>{{name}}</span>
		{{/power-select}}
		{{!-- <span>{{obj}}</span> --}}
		<div class='{{name}} align-self-center large-margin-top'>
			
		</div>
	</div>
	<div class="flex05 column align-items-center justify-content-space-between">
		<h3 class="text-white">
			{{#if (eq this.numRandom 1)}}
				Paper
			{{else if (eq this.numRandom 2)}}
				Scissor
			{{else if (eq this.numRandom 3)}}
				Rock
			{{/if}}
		</h3>
		{{#if (eq this.numRandom 1)}}
			<div class="Paper v" style="-ms-filter: 'FlipH'; filter: FlipH;"></div>
		{{else if (eq this.numRandom 2)}}
			<div class="Scissor v" style="-ms-filter: 'FlipH'; filter: FlipH;"></div>
		{{else if (eq this.numRandom 3)}}
			<div class="Rock v" style="-ms-filter: 'FlipH'; filter: FlipH;"></div>
		{{/if}}
	</div>
</div>
<h2 class="text-align-center text-white">{{this.text}}</h2>